<article id="<%= post.layout %>-<%= post.slug %>" class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="inner">

    <header class="article-header" itemprop="headline">
      <%- partial('post/title') %>
      <%- partial('post/date', { prop: 'datePublished' }) %>
    </header>

    <div class="article-entry" itemprop="articleBody">
    <%- post.content %>
    </div>
  </div>
  <footer>
    <%- partial('post/author') %>
  </footer>
</article>

<%- partial('post/nav') %>

<% if (config.disqus_shortname){ %>
  <%- partial('post/comment') %>
<% } %>
