<article id="<%= post.layout %>-<%= post.slug %>" class="article" itemscope itemprop="blogPost">
  <div class="inner">

    <header class="article-header">
      <%- partial('post/title') %>
      <%- partial('post/date') %>
    </header>

    <div class="article-entry" itemprop="articleBody">
    <%- post.content %>
    </div>
  </div>
  <%- partial('post/author') %>
</article>

<%- partial('post/nav') %>

<% if (config.disqus_shortname){ %>
  <%- partial('post/comment') %>
<% } %>
