<header id="header" itemprop="headline">
  <div class="inner">
    <% if (is_home()) { %>
      <h1 id="logo">
        <a href="<%- url_for() %>">
          <%= config.logo.title %>
          <span><%= config.logo.subtitle %></span>
        </a>
      </h1>
    <% } else { %>
      <p id="logo">
        <a href="<%- url_for() %>">
          <%= config.logo.title %>
          <span><%= config.logo.subtitle %></span>
        </a>
      </p>
    <% } %>
    <%- partial('./social') %>
  </div>
</header>
