<%- partial('_partial/head') %>
<body itemscope itemtype="http://schema.org/Blog">
  <%- partial('_partial/header') %>
  <section id="main">
    <%- body %>
  </section>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/google-analytics') %>
</body>
</html>
