<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <section id="main">
    <%- body %>
  </section>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/google-analytics') %>
</body>
</html>
