<section id="comments">
  <div class="inner">
    <h2>Comentários</h2>
    <div id="disqus_thread">
      <% _post = post.path.slice(0, -1) %>
      <% comments = site.data.comments[_post] %>
      <% if (comments) { %>
        <% comments.forEach(function(comment) { %>
          <div class="comment" itemscope itemtype="http://schema.org/UserComments">
            <p class="author" itemprop="creator"><%= comment.author %></p>
            <%- partial('date', { prop: 'commentTime', post: { date: comment.date }} ) %>
            <p class="comment" itemprop="commentText"><%= comment.message %></p>
          </div>
        <% }) %>
      <% } %>
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>

  <script type="text/javascript">
  var disqus_shortname = '<%= config.disqus_shortname %>';
  var disqus_url = '<%= config.url %>/<%= post.path %>';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
</section>
